<div class="window" id="loading-window" x-data="draggableWindow">
    <div class="title-bar" id="loading-title-bar"
        @mousedown="startDrag()"
        @mousemove.window="drag()"
        @mouseup.window="stopDrag()">
        <div class="title-bar-text">
            Loading
        </div>
    </div>
    <div class="window-body" id="loading-window-body">
        <!-- <p>Hi all Anderson here, apology's for the the rather uh interesting method to getting to our store but the SCP foundation has been really getting on our tail. Anyway uh happy shopping</p> -->
        {% include 'unknown/components/progress_bar.html' %}
    </div>
</div>