<div class="window" id="loading-window" x-data="draggableWindow" hx-trigger="unknown-load-done from:body"
    hx-target="#loading-window" hx-get="/589f9ff0ef54f3e258775de3a9945a6e" hx-swap="outerHTML">
    <div class="title-bar" id="loading-title-bar" @mousedown="startDrag()" @mousemove.window="drag()"
        @mouseup.window="stopDrag()">
        <div class="title-bar-text">
            Loading
        </div>
    </div>
    <div class="window-body" id="loading-window-body">
        <div hx-post="/589f9ff0ef54f3e258775de3a9945a6e/job" hx-trigger="load delay:5ms" hx-target="this"
            hx-swap="outerHTML">
        </div>
    </div>
</div>
