<div class="window" id="unknown-window" x-data="draggableWindow">
    <div class="title-bar" id="unknown-title-bar" @mousedown="startDrag()" @mousemove.window="drag()"
        @mouseup.window="stopDrag()">
        <div class="title-bar-text">
            Anderson Robotics Store
        </div>
        <div class="title-bar-controls">
            <button aria-label="Close" id="unknown-window-title-close-button" hx-get="/589f9ff0ef54f3e258775de3a9945a6e" hx- hx-target="#unknown"></button>
        </div>
    </div>
    <div class="window-body" id="unknown-window-body">
        <fieldset>
            <legend>Note</legend>
            <p>Hi all Anderson here, apology's for the the rather uh interesting method to getting to our store but the
                SCP
                foundation has been really getting on our tail. Anyway uh happy shopping</p>
        </fieldset>
        <aside>
            <ul class="tree-view">
                <li>
                    <details open>
                        <summary>Robotics</summary>
                        <ul>
                            <li><a href="#robot-test-1" hx-replace-url="false">Test 1</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <summary>
                        <details>
                            <summary>Software</summary>
                            <ul>
                                <li><a href="#software-test-1" hx-replace-url="false">Test 1</a></li>
                            </ul>
                        </details>
                    </summary>
                </li>
                <li>
                    <summary>
                        <details>
                            <summary>Vehicles</summary>
                            <ul>
                                <li><a href="#vehicles-test-1" hx-replace-url="false">Test 1</a></li>
                            </ul>
                        </details>
                    </summary>
                </li>
            </ul>
        </aside>
    </div>
</div>