<article class="window" role="tabpanel" id="backup-vol-tab">
    <div class="window-body">
        <fieldset>
            <legend>Volumes</legend>
            <div class="sunken-panel" style="max-height: 100%; max-width: 180px;">
                <table class="interactive">
                    <thead>
                        <tr>
                            <th>Volume Name</th>
                            <th>Backup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>volume1</td>
                            <td><button class="btn btn-primary" hx-get="/backup/volume1">Backup</button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </fieldset>
    </div>
</article>
