<menu role="tablist" aria-label="docker-manager-tabs">

    <li role="tab" class="selected" hx-get="/backup-volume-tab" autofocus aria-selected="true"
        aria-controls="backup-vol-tab" id="backup-volumes">
        <a href="#tabs">Backup Volumes</a>
    </li>

    <li role="tab" aria-controls="restore-vol-tab" id="restore-volumes">
        <a href="#tabs">Restore Volumes</a>
    </li>
</menu>
<article class="window" role="tabpanel" id="backup-vol-tab">
    <div class="window-body">
        <fieldset id="volume-table">
            <legend>Volumes</legend>
            <div class="sunken-panel">
                <table class="interactive">
                    <thead>
                        <tr>
                            <th>Volume Name</th>
                            <th>Backup</th>
                        </tr>
                    </thead>
                    <tbody id="rows" hx-get="/volumes" hx-trigger="load delay:50ms" hx-target="#rows"
                        hx-swap="innerHTML">
                    </tbody>

                </table>
            </div>
        </fieldset>
        <fieldset id="backup-table">
            <legend>Backups</legend>

        </fieldset>
    </div>
</article>