{% extends 'layout.html' %}

{% block content %}
<div id="create-schedule"></div>

<div class="window" id="docker-homelab-manager-window" x-data="draggableWindow">
    <div class="title-bar" id="docker-homelab-manager-title-bar" @dblclick="expandWindow()" @mousedown="startDrag()"
        @mousemove.window="drag()" @mouseup.window="stopDrag()">
        <div class="title-bar-text">
            Docker Homelab Manager
        </div>

        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize" @click="expandWindow()"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <section id="tabs" class="tabs" hx-replace-url="false" :hx-get="`/tabs/${$store.windowState.mainWindowState.tabState}`" hx-trigger="load delay:100ms" hx-target="#tabs"
        hx-swap="innerHTML">
    </section>
</div>
<div id="notifications">
</div>
{% endblock %}