{% extends 'layout.html' %}

{% block content %}
<div id="create-schedule"></div>

<div class="window" id="docker-homelab-manager-window">
    <div class="title-bar" id="docker-homelab-manager-title-bar">
        <div class="title-bar-text">
            Docker Homelab Manager
        </div>

        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body" id="docker-homelab-manager-window-body">
        <section id="tabs" class="tabs" hx-get="/tabs/backup-volume" hx-trigger="load delay:100ms" hx-target="#tabs"
            hx-swap="innerHTML">
        </section>
    </div>
</div>
<div id="notifications">
</div>
{% endblock %}