<!DOCTYPE html>
<html>

<head>
    <title>docker homelab manager</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
    <link href="{{ url_for('static', path='/site.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='js/remove-me.js') }}"></script>
    <script src="{{ url_for('static', path='js/idiomorph-ext.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/multi-swap.js') }}"></script>
    <!-- Alpine Plugins -->
    <script defer src="{{ url_for('static', path='js/alpinejs.persist-plugin.js') }}"></script>
    <script defer src="{{ url_for('static', path='js/alpine-init.js') }}"></script>

    <!-- Alpine Core -->
    <script defer src="{{ url_for('static', path='js/alpinejs.js') }}"></script>

</head>

<body hx-boost="true" hx-ext="multi-swap">
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>
