<!DOCTYPE html>
<html>

<head>
    <title>docker homelab manager</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <link href="{{ url_for('static', path='/site.css') }}" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body hx-boost="true">
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>
