<menu role="tablist" aria-label="docker-manager-tabs">

    <li role="tab" aria-controls="backup-vol-tab" id="backup-volumes">
        <a href="/">Backup Volumes</a>
    </li>

    <li role="tab" class="selected" autofocus aria-selected="true" aria-controls="restore-vol-tab" id="restore-volumes">
        <a href="/tabs/restore-volumes">Restore Volumes</a>
    </li>
</menu>
<article class="window" role="tabpanel" id="backup-vol-tab">
    <div class="window-body">
        <p>Backups</p>
        <form hx-replace-url="false" x-data="tableBackupRestore">
            <template x-if="selected.length > 0">
                <fieldset>
                    <div class="form-group">
                        <fieldset>
                            <legend>Backups to restore</legend>
                            <template x-for="(value, index) in selected" :key="index">
                                <div class="field-row-stacked">
                                    <label x-model="index" x-text="value.backup_id"></label>
                                    <input type="text" x-model="value.volume_name"  title="Enter volume name to restore" placeholder="Enter Volume name to restore"/>
                                </div>
                            </template>
                        </fieldset>
                    </div>
                    <button hx-replace-url="false" @click="restoreVolumes()">Restore</button>
                    <button @click="selected = []">Cancel</button>
                </fieldset>
            </template>
            <div class="sunken-panel">
                <table>
                    <thead>
                        <tr>
                            <th>Backup Id</th>
                            <th>Backup Name</th>
                            <th>Volume Name</th>
                            <th>Schedule Id</th>
                            <th>Filename</th>
                            <th>Create Date</th>
                        </tr>
                    </thead>
                    <tbody id="backup-rows" hx-get="/volumes/backups" hx-trigger="load delay:5ms, every 5s"
                        hx-target="#backup-rows" hx-swap="innerHTML transition:true" hx-swap="morph:innerHTML"
                        hx-ext="morph">
                    </tbody>
                </table>
            </div>
        </form>
        <p>Restored Volumes</p>
        <div class="sunken-panel">
            <table>
                <thead>
                    <tr>
                        <th>Backup Id</th>
                        <th>Backup Name</th>
                        <th>Volume Name</th>
                        <th>Schedule Id</th>
                        <th>Filename</th>
                        <th>Create Date</th>
                    </tr>
                </thead>
                <tbody id="#restore-vol-rows">

                </tbody>
                <!-- <tbody id="backup-rows" hx-get="/volumes/backups" hx-trigger="load delay:5ms, every 5s"
                    hx-target="#backup-rows" hx-swap="innerHTML transition:true" hx-swap="morph:innerHTML"
                    hx-ext="morph">
                </tbody> -->
            </table>
        </div>
    </div>

</article>