#docker-homelab-manager-window {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}


#notification-window {
    margin: 20px;
    width: 300px;
    max-height: 60px;
    cursor: pointer;
    z-index: 4;
    overflow-wrap: break-word;
    right: 5px;
    top: 5px;
    position: absolute;
}



/*TODO check if there is better way to do this*/
@media (max-width: 1000px) {
    #volume-table {
        width: 100%;
    }
}

div #volume-table .sunken-panel {
    height: 195px;

}

@media (max-width: 1000px) {
    #backup-table {

        width: 100%;
        height: 200px;
    }
}

body {
    background-color: #008080;
}
